/* styles/Home.module.css */
.body {
  padding: 0 2rem;
  background: url('/img/cream-paint.jpg') no-repeat center center;
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4.5rem;
  text-align: center;
  font-family: var(--headings-font-family);
  letter-spacing: .3rem;
}

.title,
.description {
  color: black;
}

.description {
  line-height: 1.5;
  font-size: 2rem;
}


.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #ba8f95;
  background-color: rgba(186, 143, 149, 0.25);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
  border-color: #264653;
  background-color: rgba(38, 70, 83, 0.5);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.card li {
  display: inline;
  padding: 5px 10px 5px 10px;
}

.lead {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 3px;
  letter-spacing: 4px;
}

.signature {
  width: 30%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 1rem 0 0.5rem 0;
}

.ctaButton {
  font-family: var(--headings-font-family);
  padding: 1rem;
  width: 80%;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  background: #553A41;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

.ctaButton:hover {
  background: #4a6455;
  color: white;
}

@media (max-width: 705px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2.25rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .signature {
    width: 100%;
  }

  .card {
    flex-basis: 100%;
    margin: 0.5rem;
    width: 100%;
  }

  .ctaButton {
    width: 100%;
  }
}