.footer {
    text-transform: uppercase;
    font-family: var(--bs-body-font-family);
    background: #656d4a;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    border-top: 1px solid #fff;
}


/* Footer.module.css */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    justify-items: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}