.footer {
    text-transform: uppercase;
    font-family: var(--footer-font-family);
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

/* Footer.module.css */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1rem 0 1rem 0;
    text-align: center;
    justify-items: center;
    text-transform: uppercase;
}
