.body {
  font-family: var(--headings-font-family);
  background-color: rgb(253, 242, 226);
  background-image: url('/img/orange-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5rem;
  padding-top: 1rem;
}

.slideContainer {
    width: 100%;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
  
.eachSlide {
    display: block;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 800px;
    margin: 3rem 0 3rem 0;
}
  
.eachSlide div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eachSlide div img {
    max-width: 100%;
    height: 75%;
    flex: 1;
}

.imageDescription {
    display: block;
    flex: 1;
    text-align: center;
    color: #333; /* Example color */
    font-size: 2em; /* Adjust font size as needed */
  }  
  
/* React slideshow default buttons and indicators styling */
.react-slideshow-container + ul.indicators {
    text-align: center;
}
  
.react-slideshow-container + ul.indicators li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
  
.react-slideshow-container + ul.indicators li.active {
    color: red; /* Active indicator color */
}
  
/* Navigation arrow style */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  
.nav.prev {
    left: 10px;
}
  
.nav.next {
    right: 10px;
}
  
/* Mobile responsiveness */
@media (max-width: 768px) {
    .slideContainer {
      /* Adjustments for smaller screens */
      box-shadow: none;
    }
  
    .eachSlide {
      height: 600px; /* Smaller height for mobile */
    }
  
    .eachSlide img {
      width: 100%; /* Smaller or full width for mobile */
      max-height: 100%; /* Adjust as needed */
    }
  
    /* Adjust the font size or layout of any text within the slides */
    .eachSlide div h2, .eachSlide div p {
      font-size: 20px; /* Reduce font size on small screens */
      text-transform: uppercase;
      margin-top: 1rem;
    }
}
  
/* Optional: Additional media queries for different breakpoints */
@media (max-width: 480px) {
    /* Even smaller devices, like very small smartphones */
    .eachSlide {
      height: 600px;
    }
  
    .eachSlide img {
        width: 100%; /* Full width for very small devices */
        height: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 980px) {
    /* Adjustments for devices larger than 768px */
    .eachSlide {
      height: 800px;
    }
  
    .eachSlide img {
        width: 100%; /* Full width for very small devices */
        height: 100%;
    }
  
    /* Adjust the font size or layout of any text within the slides */
    .eachSlide div h2, .eachSlide div p {
        font-size: 2rem; /* Reduce font size on small screens */
        text-transform: uppercase;
        margin-top: 1rem;
        font-family: var(--headings-font-family);
  }
}