@font-face {
  font-family: 'Major Birch';
  src: url('/fonts/MajorBirch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Antiqua';
  src: url('/fonts/ModernAntiqua.ttf') format('truetype');
}

@font-face {
  font-family: 'Mohave';
  src: url('/fonts/Mohave.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('/fonts/SmoochSans.ttf') format('truetype');
}

:root {
  --navbar-font-family: "Major Birch", "sans-serif";
  --bs-body-font-family: "Mohave", "sans-serif";
  --headings-font-family: "Smooch Sans", "sans-serif";
  --footer-font-family: "Mohave", sans-serif;
  --max-width: 1100px;
  --border-radius: 12px;
  --th-color-white: rgba(255, 255, 255, 0.75);
  --th-color-black: rgba(0, 0, 0, 0.5);
  --th-color-transparent: rgba(0, 0, 0, 0);
  --th-color-gray: rgba(196, 196, 196, 0.5);
  --card-bg-color: rgba(126, 140, 104, 0.5);
  --card-hover-bg-color: rgba(52, 78, 65, 0.75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* globals.css */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.min-h-screen {
  min-height: 100vh;
}
.flex-grow {
  flex-grow: 1;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--headings-font-family);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  font-family: var(--bs-body-font-family);
  font-size: 1rem + 1vh;
}
