@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Major+Mono+Display&family=Mohave:wght@300&family=Smooch&display=swap');

:root {
  --navbar-font-family: 'Bebas Neue', sans-serif;
  --bs-body-font-family: 'Smooch Sans', sans-serif;
  --headings-font-family: 'Bebas Neue', sans-serif;
  --footer-font-family: 'Mohave', sans-serif;
  --max-width: 1100px;
  --border-radius: 12px;
  --th-color-white: rgba(255, 255, 255, 0.75);
  --th-color-black: rgba(0, 0, 0, 0.5);
  --th-color-transparent: rgba(0, 0, 0, 0);
  --th-color-gray: rgba(196, 196, 196, 0.5);
  --card-bg-color: rgba(126, 140, 104, 0.5);
  --card-hover-bg-color: rgba(52, 78, 65, 0.75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* globals.css */
.flex {
  display: flex;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--bs-body-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--headings-font-family);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  font-family: var(--bs-body-font-family);
  font-size: 1rem + 1vh;
}

.m-auto {
  margin: auto;
}

.ul {
  font-family: var(--footer-font-family);
}

@media (max-width: 768px) {

  .ul,
  .li {
    font-size: 1.2rem;
    font-family: var(--footer-font-family);
  }

  .body {
    font-family: var(--bs-body-font-family);
  }
}