/* styles/Home.module.css */
.logo {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  filter: invert(1);

}

.hero {
  text-align: center;
  color: #fff;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.body {
  background: url('/img/floor.jpg') no-repeat center center;
  background-size: cover;
  background-color: #F6F7F8;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: black;
  font-family: var(--headings-font-family);
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.ctaButton {
  font-family: var(--headings-font-family);
  padding: 1rem;
  width: 40%;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  background: #553A41;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}

.ctaButton:hover {
  background: #4a6455;
  color: white;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  text-transform: uppercase;
  font-family: var(--bs-body-font-family);
}

.ul, 
.li {
  display: inline-block;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.ul li:hover {
  background-color: #999999;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 2px solid var(--card-hover-bg-color);
  background-color: rgba(109, 142, 160, 0.75);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
  border-color: var(--card-bg-color);
  background-color: var(--card-hover-bg-color);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.card li {
  display: inline;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .ctaButton {
    width: 90%;
    display: block;
    margin: auto;
    letter-spacing: 0.4rem;
  }
}

