/* styles/Home.module.css */
.logo {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  filter: invert(1);

}

.hero {
  text-align: center;
  color: #fff;
}

.main {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.body {
  background: url('/img/floor.jpg') no-repeat center center;
  background-size: cover;
  background-color: #F6F7F8;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: black;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.ctaButton {
  font-family: var(--navbar-font-family);
  padding: 1rem;
  width: 60%;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background: #403d39;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}

.ctaButton:hover {
  background: #4a6455;
  color: white;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  text-transform: uppercase;
  font-family: var(--bs-body-font-family);
}

.ul, 
.li {
  display: inline-block;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.ul li:hover {
  background-color: #999999;
}