.nav {
    font-family: var(--navbar-font-family);
    position: relative;
    padding: 20px 20px 20px 20px;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #656d4a;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: width 0.5s;
}

.nav link {
    display: in-line block;
}

.link {
    padding: 14px 16px;
}

.link:hover {
    background-color: #fff;
    color: #656d4a;
}

@media (min-width:100px) and (max-width:800px) {
    .nav {
        position: relative;
        justify-content: center;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #656d4a;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        overflow: hidden;
        transition: width 0.5s;
    }
    .nav link {
        display: in-line block;
    }
    .link {
        padding: 10px 10px;
    }
}