/* styles/Services.module.css */
.body {
    padding: 0 2rem;
    background: url('/img/texture-bg.jpg') no-repeat center center;
    background-size: cover;
}
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.5rem;
  }
  
  .title,
  .description {
    color: black;
  }
  
  .description {
    line-height: 1.5;
    font-size: 2rem;
  }
  
  
  .grid {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: black;
    text-decoration: none;
    border: 2px solid var(--card-hover-bg-color);
    background-color: var(--card-bg-color);
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}
  
.card:hover,
.card:focus,
.card:active {
    color: #fff;
    border-color: var(--card-bg-color);
    background-color: var(--card-hover-bg-color);
}
  
.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
  
.card p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}
  
.card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.card li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

.lead {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 3px;
    letter-spacing: 4px;
}

.signature {
  width: 30%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 1rem 0 0.5rem 0;
}

.ctaButton {
    font-family: var(--navbar-font-family);
    padding: 1rem;
    width: 60%;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    background: #403d39;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-bottom: 1rem;
    position: relative;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
  }
  
  .ctaButton:hover {
    background: #4a6455;
    color: white;
  }

  @media (max-width: 700px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }

    .title {
      font-size: 2.75rem;
    }

    .ctaButton {
      width: 100%;
      letter-spacing: 0.2rem;
      padding: 1.5rem;
    }
  }